 
 /dts-v1/;  
 /plugin/;  
 
 / {  

   compatible = "ti,beaglebone", "ti,beaglebone-green", "ti,beaglebone-black";  
   part-number = "PRU-GPIO-EXAMPLE";  
   version = "00A0";
   
   exclusive-use =  
      "P8.11", "P8.16","P8.12","pru0";  
   
   fragment@0 {  
    target = <&am33xx_pinmux>;  
    __overlay__ {  
      example_pins: pinmux_pru_pru_pins {  

       pinctrl-single,pins = <  
         0x34 0x06  
         0x38 0x26  
 	 0x30 0x06
       >;  
      };  
    };  
   };  
   
   fragment@1 {  
    target = <&pruss>;  
    __overlay__ {  
      status = "okay";  
      pinctrl-names = "default";  
      pinctrl-0 = <&example_pins>;  
    };  
   };  
 };  
